block vars
  - var pageTitle = "404"
  - var description = "Ampersand.js, Javascript, ampersand, Node.js, Apps, HTML5"

extends templates/layout

block content

  header.hero
    .illustration.boat
      img(src="/public/images/ampersand-on-a-boat.svg")
    h1 Whoops! That page is out to sea.
      br
      | Head back 
      a(href="/") home
      = ' '
      | or visit the 
      a(href="/docs") docs
      | . (Get it?)

  hr

  section.splash

    .callout.human-javascript
      h2 A foundation for building simple but powerful JS apps with Ampersand.js
      img.humanjs-ipad(src="/public/images/human-javascript.png")
      //- Needs svg and png fallback
      a.logo.logo-humanjs(href="http://humanjavascript.com/") Human JavaScript
      p Henrik Joreteg introduces practical patterns for powerfully simple application development. 
        a(href="http://humanjavascript.com/")
          em Human Javascript 
        | is a saner way to write JS.
      a.button.button-secondary(href="https://gumroad.com/l/humanjs") Buy the book for $39
      a.button.button-secondary(href="http://read.humanjavascript.com/") Read it free online

    hr

    .callout.seaworthy
      h2 Need help with Ampersand.js?
      a.logo.logo-seaworthy(href="https://seaworthy.io") Seaworthy
      p Introducing <a href="https://seaworthy.io">Seaworthy</a>, Node and Ampersand.js consulting and training from your friends at <a href="https://andyet.com">&yet</a>.