extends templates/layout

block vars
  - var pageTitle = "Security"
  - var description = "Ampersand.js, Javascript, ampersand, Node.js, Apps, HTML5"

block content

  header.hero
    .illustration.lock
      img(src="/public/images/ampersand-lock.svg")
    h1 Security is a core value


  hr

  section.splash

    .container.cf
      include:markdown-it ./SECURITY.md
