block vars
  - var pageTitle = "Contribute"
  - var description = "Contribute to and improve Ampersand.js"

extends /templates/layout

block content

  section.contribute

    header.hero
      .illustration.temp An illustration may go here!
      h1 Help make Ampersand.js even better.

    hr

    .container.contribute-intro
      h2 How to contribute
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan tempus placerat. Aliquam rutrum interdum lectus. Pellentesque tincidunt ultrices rhoncus.
      p Suspendisse pretium, enim at accumsan vulputate, purus tellus malesuada lorem, nec sodales justo erat sit amet orci. Maecenas lacinia auctor risus sit amet suscipit. Nam sed varius odio, non tempor quam.
      h3 Aliquam rutrum interdum lectus
      p Donec sodales, tellus eget suscipit feugiat, nulla lectus tristique dui, a rutrum neque massa nec tortor. Mauris faucibus velit vel nibh interdum, eget gravida dui convallis. Cras porttitor dictum tempor. Curabitur ac lorem porttitor, semper risus ut, ultricies massa. Donec id tristique eros. Maecenas iaculis velit vel euismod commodo.
      p Nunc ac felis nunc. Quisque nec pharetra quam. Sed odio sem, vestibulum non elementum vitae, bibendum id massa.

    hr

    .container
      h2 Core Contributors
      .core-team.cf
        for member, name in globals.coreContributors
          .member
            img(src= member.avatar_url + 's=300')
            a(href= member.url) @#{name}

      h2 With contributions from
      
      .contributors-list.cf
        for member in globals.contributors
          a.member(href= member.url)
            img(src= member.avatar + 's=200')
