block vars
  - var pageTitle = 'Contribute'
  - var description = 'Contribute to and improve Ampersand.js'
  - var pageState = 'contribute'

extends /templates/layout

block content

  section.contribute

    header.hero
      .illustration.house
        img(src='/public/images/ampersand-brick-house.svg')
      h1 Help make Ampersand.js even better.

    hr

    .container.contribute-intro
      h2 How to contribute
      p All the core ampersand modules are in the <a href='https://github.com/ampersandjs'>AmpersandJS Organization</a> on GitHub.
      p Read about our <a href='/learn/bug-triage-process/'>bug triage process</a> which includes information about submitting issues, pull requests, and releases.
      p Or jump in and <a href='http://espy.github.io/ubersicht/?showOpen=true&showClosed=false&showIssues=true&showCommented=true&showUncommented=true&last24Hours=false&repos=null&labels=null&milestones=null&usernames=null#ampersandjs'>fix one of the open issues</a>.

    hr

    .container
      h2 Core Contributors
      .core-team.cf
        for member, name in globals.coreContributors
          .member
            a(href= 'http://twitter.com/' + member.twitter)
              img(src= member.avatar_url + 's=300')
            a(href= 'http://twitter.com/' + member.twitter) @#{member.twitter}

      h2 Community Team
      .core-team.cf
        for member, name in globals.communityTeam
          .member
            a(href= 'http://twitter.com/' + member.twitter)
              img(src= member.avatar_url + 's=300')
            a(href= 'http://twitter.com/' + member.twitter) @#{member.twitter}

      h2 With contributions from

      p This list is fetched from GitHub’s API and lists users who have contributed to repos in the <a href='https://github.com/ampersandjs'>AmpersandJS Organization</a>.

      p They’re sorted by total number of contributions (excluding core and community teams). 
      
      .contributors-list.cf
        for member in globals.contributors
          a.member(href= member.url)
            img(src= member.avatar + 's=200')
