block vars
  - var pageTitle = "Contribute"
  - var description = "Contribute to and improve Ampersand.js"

extends ../templates/layout

block content

  header.hero
    .illustration.temp Fillllerrrrrr
    h1 How to Contribute