*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font: 1em/1.65 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d5659;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
::-moz-selection {
  background-color: #88d5f7;
  color: #fff;
}
::selection {
  background-color: #88d5f7;
  color: #fff;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
h1,
h2 {
  line-height: 1.1;
}
h3,
h4 {
  line-height: 1.3;
}
h1,
h2,
h3,
h5,
h6 {
  color: #000;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.125em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.375em;
}
h5 {
  font-size: 1em;
  text-transform: uppercase;
  color: #828c8f;
}
h6 {
  font-size: 0.875em;
}
a {
  color: #12acef;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0d8ac1;
}
small {
  font-size: 0.875em;
}
ul,
ol {
  margin: 15px 0 15px 20px;
  padding: 0;
}
ul li ul li,
ol li ul li {
  list-style-type: circle;
}
ul li li ul li,
ol li li ul li {
  list-style-type: square;
}
ul li {
  list-style-type: disc;
}
ul.unstyled {
  margin: 0;
}
ul.unstyled li {
  display: inline-block;
  list-style-type: none;
}
ol li {
  list-style-type: decimal;
}
.container {
  position: relative;
  margin-top: 100px;
}
main {
  padding: 30px 0 50px 50px;
  margin-left: 300px;
  max-width: 800px;
}
main h2:first-of-type {
  margin-top: 0;
}
main section {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e6eaed;
}
main section:last-of-type {
  border: none;
}
main section p:last-of-type {
  margin-bottom: 0;
}
main section .image-wrapper {
  display: block;
  margin: 20px auto;
}
main section .image-wrapper:not(.humanjs) img {
  border: 1px solid #e6eaed;
  border-radius: 3px;
}
button {
  border: none;
}
.button,
a.button {
  display: inline-block;
  border-radius: 3px;
  padding: 6px 15px;
  font-size: 1em;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  background-color: #e1edf1;
  color: #003546;
}
.button:hover,
a.button:hover {
  background-color: #b8d6df;
}
.button:disabled,
a.button:disabled,
.button.button-disabled,
a.button.button-disabled {
  cursor: not-allowed;
  color: #85b8c7;
  background-color: #e1edf1;
}
.button:focus,
a.button:focus {
  outline: none;
}
.button.button-small,
a.button.button-small {
  padding: 3px 8px;
  font-size: 0.875em;
}
.button.button-large,
a.button.button-large {
  padding: 10px 20px;
  font-size: 1.125em;
}
.button.button-primary,
a.button.button-primary,
.button.button-secondary,
a.button.button-secondary,
.button.button-primary:hover,
a.button.button-primary:hover,
.button.button-secondary:hover,
a.button.button-secondary:hover {
  color: #fff;
}
.button.button-primary,
a.button.button-primary {
  background-color: #ec008c;
}
.button.button-primary:hover,
a.button.button-primary:hover {
  background-color: #d4007e;
}
.button.button-primary:disabled,
a.button.button-primary:disabled,
.button.button-primary .button-disabled,
a.button.button-primary .button-disabled {
  background-color: #fec1d1;
}
.button.button-secondary,
a.button.button-secondary {
  background-color: #12acef;
}
.button.button-secondary:hover,
a.button.button-secondary:hover {
  background-color: #0f9bd9;
}
.button.button-secondary:disabled,
a.button.button-secondary:disabled,
.button.button-secondary .button-disabled,
a.button.button-secondary .button-disabled {
  background-color: #88d5f7;
}
code {
  font-family: Menlo, Monaco, Consolas, monospace;
  text-rendering: optimizeLegibility;
  font-size: 0.875em;
  -webkit-font-smoothing: antialiased;
  overflow-x: scroll;
  white-space: nowrap;
  border: none;
  padding: 0.154em 0.308em;
  font-size: 0.8125em;
  color: #000;
  background: #f5f7f8;
}
pre {
  max-width: 100%;
  overflow: hidden;
}
pre code {
  display: block;
  padding: 20px;
  line-height: 1.5;
}
pre code {
  color: #272b2d;
  background: #fdfdfd;
  border: 1px solid #e6eaed;
}
.comment,
.template_comment,
.diff .header,
.javadoc {
  color: #67777c;
}
.keyword,
.css .rule .keyword,
.at_rule,
.winutils,
.javascript .title,
.nginx .title,
.subst,
.request,
.status {
  color: #12acef;
}
.string,
.tag .value,
.phpdoc,
.tex .formula {
  color: #d4007e;
}
.title,
.coffeescript .params,
.scss .preprocessor {
  color: #71adbe;
  font-weight: bold;
}
.class .title,
.haskell .type,
.vhdl .literal,
.tex .command,
.tag,
.tag .title,
.rules .property,
.django .tag .keyword,
.built_in,
.lisp .title,
.clojure .built_in {
  color: #828c8f;
}
.attribute,
.variable,
.lisp .body,
.preprocessor,
.pragma,
.pi,
.doctype,
.shebang,
.cdata {
  color: #8f989a;
}
.regexp,
.addition {
  color: #43bb6e;
}
.symbol,
.ruby .symbol .string,
.lisp .keyword,
.tex .special,
.prompt,
.deletion {
  color: #a50062;
}
.diff .change {
  background: #f18902;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 50px;
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #e6eaed;
  box-shadow: 0 1px 10px #f2f4f6;
  z-index: 10;
}
header .logo {
  margin: 0;
  min-width: 250px;
  float: left;
  background: url("../images/humanjs.svg") center center no-repeat;
  background-size: contain;
  line-height: 100px;
  text-indent: -100%;
}
header .button-secondary {
  float: right;
  margin-top: 30px;
}
nav {
  position: absolute;
  top: 0;
  height: 100%;
  width: 300px;
  padding: 0 40px;
}
nav a:not(.button) {
  display: block;
  text-transform: capitalize;
  font-size: 0.875em;
}
nav a:not(.button):hover {
  text-decoration: underline;
}
nav a:not(.button).active {
  color: #12acef;
}
nav .h1,
nav .h2 {
  margin: 5px 0;
  font-weight: bold;
  color: #000;
}
nav a:not(.h1):not(.h2):not(.button) {
  color: #828c8f;
  padding-left: 10px;
}
#slider {
  background: #12acef;
  width: 3px;
  height: 20px;
  position: absolute;
  margin-left: -8px;
}
.panel {
  margin: 30px 0;
  border: 1px solid #e6eaed;
  border-radius: 3px;
  padding: 15px;
  background: #fdfdfd;
}
.panel h4 {
  margin: 0;
}
.panel .button-small {
  width: 100%;
}
.panel p {
  font-size: 0.875em;
}
