*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font: 1em/1.65 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d5659;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
::-moz-selection {
  background-color: #88d5f7;
  color: #fff;
}
::selection {
  background-color: #88d5f7;
  color: #fff;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
h1,
h2 {
  line-height: 1.1;
}
h2,
h3 {
  padding-top: 120px;
  margin-top: -100px;
}
h3,
h4 {
  line-height: 1.3;
}
h1,
h2,
h3,
h5,
h6 {
  color: #000;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.125em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.375em;
}
h5 {
  font-size: 1em;
  text-transform: uppercase;
  color: #828c8f;
}
h6 {
  font-size: 0.875em;
}
a {
  color: #12acef;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0d8ac1;
}
small {
  font-size: 0.875em;
}
ul,
ol {
  margin: 15px 0 15px 20px;
  padding: 0;
}
ul li ul li,
ol li ul li {
  list-style-type: circle;
}
ul li li ul li,
ol li li ul li {
  list-style-type: square;
}
ul li {
  list-style-type: disc;
}
ul.unstyled {
  margin: 0;
}
ul.unstyled li {
  display: inline-block;
  list-style-type: none;
}
ol li {
  list-style-type: decimal;
}
.container {
  position: relative;
}
main {
  padding: 30px 0 50px 50px;
  margin-left: 300px;
  max-width: 800px;
}
main section {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e6eaed;
}
main section:first-of-type h2 {
  margin-top: 0;
}
main section:last-of-type {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
main section p:last-of-type {
  margin-bottom: 0;
}
main section .image-wrapper {
  display: block;
  margin: 20px auto;
}
main section .image-wrapper:not(.humanjs) img {
  border: 1px solid #e6eaed;
  border-radius: 3px;
}
@media screen and (max-width: 650px) {
  main {
    margin-left: 0;
    padding: 40px 25px;
  }
  main h1,
  main h2,
  main h3,
  main code {
    word-break: break-all;
  }
  main h2 {
    font-size: 1.375em;
  }
  main h1 {
    font-size: 1.75em;
  }
  .image-wrapper {
    text-align: center;
  }
  .image-wrapper img {
    max-width: 100%;
  }
}
button {
  border: none;
}
.button,
a.button {
  display: inline-block;
  border-radius: 3px;
  padding: 6px 15px;
  font-size: 1em;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  background-color: #e1edf1;
  color: #003546;
}
.button:hover,
a.button:hover {
  background-color: #b8d6df;
}
.button:disabled,
a.button:disabled,
.button.button-disabled,
a.button.button-disabled {
  cursor: not-allowed;
  color: #85b8c7;
  background-color: #e1edf1;
}
.button:focus,
a.button:focus {
  outline: none;
}
.button.button-small,
a.button.button-small {
  padding: 3px 8px;
  font-size: 0.875em;
}
.button.button-large,
a.button.button-large {
  padding: 10px 20px;
  font-size: 1.125em;
}
.button.button-primary,
a.button.button-primary,
.button.button-secondary,
a.button.button-secondary,
.button.button-primary:hover,
a.button.button-primary:hover,
.button.button-secondary:hover,
a.button.button-secondary:hover {
  color: #fff;
}
.button.button-primary,
a.button.button-primary {
  background-color: #ec008c;
}
.button.button-primary:hover,
a.button.button-primary:hover {
  background-color: #d4007e;
}
.button.button-primary:disabled,
a.button.button-primary:disabled,
.button.button-primary .button-disabled,
a.button.button-primary .button-disabled {
  background-color: #fec1d1;
}
.button.button-secondary,
a.button.button-secondary {
  background-color: #12acef;
}
.button.button-secondary:hover,
a.button.button-secondary:hover {
  background-color: #0f9bd9;
}
.button.button-secondary:disabled,
a.button.button-secondary:disabled,
.button.button-secondary .button-disabled,
a.button.button-secondary .button-disabled {
  background-color: #88d5f7;
}
code {
  font-family: Menlo, Monaco, Consolas, monospace;
  text-rendering: optimizeLegibility;
  font-size: 0.875em;
  -webkit-font-smoothing: antialiased;
  overflow-x: scroll;
  white-space: nowrap;
  border: none;
  padding: 0.154em 0.308em;
  font-size: 0.8125em;
  color: #000;
  background: #f0f2f4;
  white-space: pre-wrap;
}
pre {
  max-width: 100%;
  overflow-x: scroll;
}
pre code {
  display: block;
  padding: 20px;
  line-height: 1.5;
  white-space: pre;
}
pre code {
  background: #fafbfb;
  border: 1px solid #e6eaed;
  word-wrap: pre;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc,
pre .type {
  color: #8e9ca1;
}
pre .keyword,
pre .css .rule .keyword,
pre .at_rule,
pre .winutils,
pre .javascript .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
  color: #12acef;
}
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #d4007e;
}
pre .title,
pre .coffeescript .params,
pre .scss .preprocessor {
  color: #71adbe;
  font-weight: bold;
}
pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command,
pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword,
pre .built_in,
pre .lisp .title,
pre .clojure .built_in {
  color: #828c8f;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .preprocessor,
pre .pragma,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #8f989a;
}
pre .regexp,
pre .addition {
  color: #43bb6e;
}
pre .symbol,
pre .ruby .symbol .string,
pre .lisp .keyword,
pre .tex .special,
pre .prompt,
pre .deletion {
  color: #a50062;
}
pre .diff .change {
  background: #f18902;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 50px;
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #e6eaed;
  box-shadow: 0 1px 10px #f2f4f6;
  z-index: 10;
}
header .logo {
  margin: 0;
  min-width: 250px;
  float: left;
  background-size: contain;
  line-height: 100px;
}
header .button-secondary {
  float: right;
  margin-top: 30px;
}
@media screen and (max-width: 650px) {
  header .button-secondary {
    display: none;
  }
  header .logo {
    float: none;
    margin: 0 auto;
  }
}
nav {
  position: fixed;
  top: 100px;
  width: 300px;
  height: 100%;
  padding: 0 40px 150px 40px;
  overflow-y: scroll;
}
nav a:not(.button) {
  display: block;
  text-transform: capitalize;
  font-size: 0.875em;
}
nav a:not(.button):hover {
  text-decoration: underline;
}
nav a:not(.button).active {
  color: #12acef;
}
nav .h1,
nav .h2 {
  margin: 5px 0;
  font-weight: bold;
  color: #000;
}
nav a:not(.h1):not(.h2):not(.button) {
  color: #828c8f;
  padding-left: 10px;
}
#slider {
  background: #12acef;
  width: 3px;
  height: 20px;
  position: absolute;
  margin-left: -10px;
  transition: all 250ms ease-out 0;
  -webkit-transition: all 250ms ease-out 0;
}
@media screen and (max-width: 650px) {
  nav {
    display: none;
  }
}
.panel {
  margin: 30px 0;
  border: 1px solid #e6eaed;
  border-radius: 3px;
  padding: 15px;
  background: #fdfdfd;
}
.panel h4 {
  margin: 0;
}
.panel .button-small {
  width: 100%;
}
.panel p {
  font-size: 0.875em;
}
