@import 'globals/_variables'
@import 'globals/_colors'
@import 'globals/_logos'

@import 'components/base'
@import 'components/buttons'
@import 'components/code'
@import 'components/module-card'

@import 'sections/navigation'
@import 'sections/header'
@import 'sections/splash'
@import 'sections/panel'
@import 'sections/docs'
@import 'sections/contribute'
@import 'sections/footer'