block vars
  - var pageTitle = "Learn"
  - var description = "Tutorials and screencasts to help you learn Ampersand.js"

extends ../templates/layout

block content

  header.hero
    .illustration.temp Fillllerrrrrr
    h1 Learn Things!
