// Docs

.docs
  max-width: 1100px
  margin: 0 auto 40px
  padding: 0 60px

.nav-docs
  width: 25%
  padding-right: 30px
  float: left

.docs-content
  width: 75%
  float: left

  section
    padding-bottom: 40px
    margin-bottom: 50px

    &:not(:last-child)
      border-bottom: 1px solid $border-color

  h1, h2, h3
    code
      font-size: 0.6em
      background: none
      font-weight: normal


