// Docs

.docs-page

  .footer-main
    max-width: 980px
    margin: 0 auto
    padding-left: 25%

.docs
  max-width: 1100px
  margin: 0 auto 40px
  padding: 0 60px

.nav-docs
  width: 20%
  padding-right: 10px

.docs-content
  padding-left: 30%

  .anchor:focus
    outline: none

  section
    padding-bottom: 40px
    margin-bottom: 50px

    &:not(:last-child)
      border-bottom: 1px solid $border-color

  h1, h2, h3
    code
      font-size: 0.6em
      background: none
      font-weight: normal


