// Header

header
  position: fixed
  top: 0
  width: 100%
  padding: 0 50px
  height: 100px
  background: white
  border-bottom: 1px solid $gray-lighter
  box-shadow: 0 1px 10px lighten($gray-lighter, 50%)
  z-index: 10

  .logo
    margin: 0
    min-width: 250px
    float: left
    //background: url('../images/humanjs.svg') center center no-repeat
    background-size: contain
    line-height: 100px
    //text-indent: -9999px

  .button-secondary
    float: right
    margin-top: 30px

@media screen and (max-width: 650px)

  header

    .button-secondary
      display: none

    .logo
      float: none
      margin: 0 auto
