// Navigation

nav
  position: absolute
  top: 0
  height: 100%
  width: 300px
  padding: 0 40px

  a:not(.button)
    display: block
    text-transform: capitalize
    font-size: $font-size-small

    &:hover
      text-decoration: underline

    &.active
      color: $blue

  .h1, .h2
    margin: 5px 0
    font-weight: bold
    color: black

  a:not(.h1):not(.h2):not(.button)
    color: $gray
    padding-left: 10px