// Main Navigation

nav.nav-main
  padding: 40px 60px 70px
  font-family: $font-family-gotham-round

  .logo-ampersand
    min-height: 34px
    margin-right: 20px
    padding: 2px 0 2px 40px
    display: inline-block
    background-size: auto 34px
    font-weight: $font-weight-semibold
    font-size: $font-size-large
    color: $gray-darker

  .nav-item
    margin-right: 20px
    display: inline-block
    font-weight: $font-weight-normal
    font-size: $font-size-small

    &.external
      position: relative
      padding-right: 12px
      &:after
        width: 8px
        height: 8px
        margin-bottom: -(@height/2)
        content: ''
        display: block
        position: absolute
        right: 0
        bottom: 50%
        background-image: url(../images/icon-arrow.png)
        background-image: url(../images/icon-arrow.svg), none

  .button
    margin-top: 0
    float: right

// Docs Navigation

.nav-docs
  font-family: $font-family-gotham-round
  font-size: $font-size-small

  a
    margin-bottom: 5px
    display: block
    line-height: 1.3em

  .section-top
    color: $gray-darker
    margin-top: 10px

  .section-sub
    color: $gray
    margin-left: 10px

  .section-sub-sub
    color: $gray
    margin-left: 10px
    font-size: 90%

    code
      display: none

    &:before
      content: '- '


//- Old navigation for docs
// nav.docs
//   position: fixed
//   top: 100px
//   width: 300px
//   height: 100%
//   padding: 0 40px 150px 40px
//   overflow-y: scroll

//   a:not(.button)
//     display: block
//     text-transform: capitalize
//     font-size: $font-size-small

//     &:hover
//       text-decoration: underline

//     &.active
//       color: $blue

//   .h1, .h2
//     margin: 5px 0
//     font-weight: bold
//     color: black

//   a:not(.h1):not(.h2):not(.button)
//     color: $gray
//     padding-left: 10px

// #slider
//   background: $blue
//   width: 3px
//   height: 20px
//   position: absolute
//   margin-left: -10px
//   transition: all 250ms ease-out 0
//   -webkit-transition: all 250ms ease-out 0

// @media screen and (max-width: 650px)

//   nav.docs
//     display: none
