// Ampersand splash home page

.splash

  .container, .callout
    max-width: 790px
    margin: 0 auto 70px

  .splash-intro
    width: 70%
    padding-right: 130px
    float: left
    text-align: left

  .releases-list
    width: 30%
    float: left

  .callout
    text-align: center

    h2, p
      max-width: 450px
      margin-left: auto
      margin-right: auto

    h2
      margin-bottom: 35px
      span
        font-weight: $font-weight-normal
        display: block

  .logo-jsforteams
    width: 110px
    height: 100px
    margin: 30px auto 10px
    text-indent: -9999em
    background-position: 50% 50%
    background-size: 110px 100px

  .humanjs-ipad
    max-width: 150px

  .logo-humanjs
    width: 350px
    height: 65px
    margin: 30px auto 0
    text-indent: -9999em;
    background-size: 350px auto

  .modules-list
    .module-card
      float: left
      width: 32%
      &:not(:last-child)
        margin-right: 2%