extends /templates/layout

block vars
  - pageTitle = "Learn"
  - description = "Get started with Ampersand.js"
  - bodyClass = "docs-page"
  - pageState = "learn"

block content

  .docs.cf
    include /templates/learn-menu

    .docs-content
      section!= content

    a.back(href="/learn") Back to Guides
