block vars
  - var pageTitle = "Documentation"
  - var description = "Get started with Ampersand.js"

extends ../templates/layout

block content

  header.hero
    .illustration.temp Fillllerrrrrr
    h1 Ampersand.js Documentation
